


.apply-btn-list {
  background-color: #059669;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
  gap: 6px;
  display: flex;
}

.apply-btn-list:hover:not(:disabled) {
  background-color: #047857;
}

.apply-btn-list:disabled {
  background-color: #d1d5db;
  cursor: not-allowed;
}
